

.floating-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: hsl(229, 72%, 65%);
	color: white;
    padding: 10px 20px;
	border-radius: 50px;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

.floating-btn:hover {
	background: hsl(216, 15%, 52%);
  color: hsl(214, 32%, 91%);
}