/* Add a black background color to the top navigation */
.topnav {
	background-color: hsl(229, 100%, 21%);
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ffffff;
	color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
	background-color: #000000;
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}

.floating-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: hsl(229, 100%, 21%);
	color: white;
	padding: 20px 20px;
	border: 3px solid;
	border-color: rgb(255, 255, 255);
	border-radius: 50px;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

.floating-btn:hover {
	background: hsl(216, 15%, 52%);
	color: hsl(214, 32%, 91%);
}

.link {
	color: yellow;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1024px) {
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}

	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.banner {
		position: relative;
		text-align: center;
		left: 0%;
		right: 0%;
		top: 0%;
		bottom: 94.57%;
		background: #ffffff;
	}
	
	.img-banner {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 60px;
		margin-top: 8px;
	}
	
	.p-banner {
		position: relative;
		display: inline-block;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #000000;
		bottom: 20px;
		left: 10px;
	}

	.en-map-mobile {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.pt-map-mobile {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.en-map-desktop {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.pt-map-desktop {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.button {
		background-color: #ffffff;
		/* Green */
		border: none;
		color: rgb(0, 0, 0);
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
	}

	.container-1 {
		position: relative;
		background-color: #000000;
		height: 600px;
	}

	.container-2 {
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		background-color: hsl(229, 100%, 21%);
		height: 600px;
	}

	.about-me {
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		background-color: hsl(229, 100%, 21%);
		height: 700px;
	}

	.p-container-2 {
		color: #ffffff;
		text-align: center;
		font-size: 30px;
		padding: 20px;
		padding-top: 5%;
		letter-spacing: 2px;
		line-height: 37px;
	}

	.p-container-2-pt {
		color: #ffffff;
		text-align: center;
		font-size: 24px;
		padding: 15px;
		padding-top: 0.5rem;
		letter-spacing: 2px;
		line-height: 37px;
	}

	.me {
		width: 100px;
		height: 100px;
		border-radius: 25%;
		-webkit-border-radius: 25%;
		-moz-border-radius: 25%;
		-ms-border-radius: 25%;
		-o-border-radius: 25%;
}

	.container-3 {
		position: static;
		color: #ffffff;
		height: 200px;
	}

	.p-container-3 {
		color: #000000;
		text-align: center;
		font-size: 25px;
		padding: 20px;
		padding-top: 2rem;
	}

}

@media screen and (min-width: 1024px) {

	.banner {
		position: relative;
		text-align: center;
		left: 0%;
		right: 0%;
		top: 0%;
		bottom: 94.57%;
		background: #ffffff;
	}
	
	.img-banner {
		position: relative;
		display: inline-block;
		width: 125px;
		height: 125px;
		margin-top: 8px;
	}
	
	.p-banner {
		position: relative;
		display: inline-block;
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 32px;
		color: #000000;
		bottom: 50px;
		left: 10px;
	}

	.en-map-desktop {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: block;
	}

	.pt-map-desktop {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: none;
	}

	.en-map-mobile {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: none;
	}

	.pt-map-mobile {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: none;
	}

	.button {
		background-color: #ffffff;
		/* Green */
		border: none;
		color: rgb(0, 0, 0);
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		font-weight: bold;
	}

	.container-1 {
		position: relative;
		background-color: #000000;
		height: 600px;
	}

	.container-2 {
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		background-color: hsl(229, 100%, 21%);
		height: 300px;
	}

	.about-me {
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		background-color: hsl(229, 100%, 21%);
		height: 600px;
	}

	.p-container-2 {
		color: #ffffff;
		text-align: center;
		font-size: 25px;
		padding: 20px;
		padding-top: 1rem;
		letter-spacing: 2px;
		line-height: 37px;
	}

	.p-container-2-pt {
		color: #ffffff;
		text-align: center;
		font-size: 25px;
		padding: 20px;
		padding-top: 0.5rem;
		letter-spacing: 2px;
		line-height: 37px;
	}

	.me {
		height: 200px;
		width: 200px;
		border-radius: 25%;
		-webkit-border-radius: 25%;
		-moz-border-radius: 25%;
		-ms-border-radius: 25%;
		-o-border-radius: 25%;
}

	.container-3 {
		position: static;
		color: #ffffff;
		height: 100px;
	}

	.p-container-3 {
		color: #000000;
		text-align: center;
		font-size: 25px;
		padding: 20px;
		padding-top: 2rem;
	}

}